<%# 写真の概要 %>
<div class="content-show">
  <div class="container">
      <div class="image-show">
        <%= image_tag @content.image ,class:"image" %>
      </div>
      
        <dl>
          <div>
            <dt>タイトル</dt>
            <dd>-<%= @content.title %>-</dd>
          </div>
          <div>
            <dt>投稿ユーザー</dt>
            <dd><%= @content.user.name %>さん</dd>
          </div>
          <div>
            <dt>説明</dt>
            <dd><%= @content.explain %></dd>
          </div>
        </dl>

            <%# 編集・削除機能 %>
            <% if user_signed_in? && @content.user.id == current_user.id %>
              <%= link_to "投稿情報の編集", edit_content_path(@content.id), method: :get, class: "btn-content edit" %>
              <p class="or-text">or</p>
              <%= link_to "削除", content_path(@content.id), method: :delete, class:"btn-content destroy" %>
            <% else %>
            <% end %>
           <%# 編集・削除機能 %>

        <h4>＜コメント一覧＞</h4>
         <div class="comments">
         
        <% @comments.each do |comment| %>
          <p>
            <strong><%= link_to "#{comment.user.name}さん", user_path(comment.user_id) %>：</strong>
            <%= comment.text %>
          </p>
        <% end %>
        
        <div class="comment-form">
            <% if user_signed_in? %>
            <%= form_with(model: [@content, @comment], local: true) do |form| %>
              <%= form.text_area :text, placeholder: "コメントする", rows: "2" %>
              <%= form.submit "コメントを投稿する" %>
            <% end %>
            <% else %>
        </div>
        <div class="annotation">※※※ コメントの投稿には新規登録/ログインが必要です ※※※</div>
      <% end %>
     </div>
    </div>
</div>
