<!DOCTYPE html>
<html>
  <head>
    <title>石神井の森図鑑</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>  
    <header>
      <div class="container">
        <div class="header-left">
          <%= link_to "石神井の森図鑑",root_path %>
        </div>
        <div class="header-right">
          <% if user_signed_in? %>
            <ul>
              <li>
                <span class="username">こんにちは、<%= current_user.name%>さん</span>
                <%= link_to "マイページ", user_path(current_user.id)%>
                <%= link_to "User編集", edit_user_path(current_user.id) %>
                <%= link_to "投稿する", new_content_path, class: "post" %>
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
              </li>
            </ul>
          <% else %>
            <ul>
              <li>
                <%= link_to "ログイン", new_user_session_path, class: "post" %>
                <%= link_to "新規登録", new_user_registration_path, class: "post" %>
              </li>
            </ul>
          <%  end %>
        </div>
      </div>
    </header>
    <%= yield %>
    <footer>
    <div class="footer-title">
      <a href="#">石神井の森図鑑</a>
    </div>
  <p> © SHAKUJII-FOREST</p>
  </footer>
</body>
</html>